{% extends './base.html' %}
{% import 'tech/macros.html' as macros %}

{% block title%}{{ super() }} {{username.position.capitalize()}}{% endblock %}

{% block body %}
    {% include 'tech/header.html' %}
    <main class="container-fluid row">
        <section class="col">
            {% block section %}
            {% include 'tech/input_code.html' %}
            {% include 'tech/code_list.html' %}
            {% endblock %}
        </section>
        <section class="col-xs-12 col-sm-4 col-lg-auto">
            {% include 'tech/materials_tech.html' %}
            {% include 'tech/equipment_tech.html' %}
        </section>
    </main>
{% endblock %}